* {
    font-family: 'Poppins', sans-serif;
}

.bg-darks {
    background-color: rgb(3, 0, 15);
}

#element {
    color: blueviolet;
}

.img-hack {
    height: 25rem;
    width: 20rem;
    overflow: hidden;
    filter: drop-shadow(0 0 0.7rem rgb(127, 230, 127));
}


.bnt-resume {
    position: relative;
    left: 0.5rem;
    margin: 0.5rem 0.4rem;
    padding: 8px 25px;
    font-size: 15px;
    border: 1px solid lightblue;
    background-color: lightseagreen;
    color: white;
    box-shadow: 5px 2px 5px 3px rgb(125, 204, 125);
}

.bnt-resume:hover {
    background-color: rgb(98, 165, 165);
    color: black;
    cursor: pointer;
    box-shadow: none;
    transition: 1s;
    transform: scale(0.9);
}

.card {
   background-color: rgba(1, 1, 26, 0.781);
   box-shadow: 0 0 5px 3px rgb(111, 224, 111);
   transform: scale(0.8);
}
.card:hover{
    background-color: rgba(1, 1, 26, 0.781);
    box-shadow: none;
    transition: 1s;
    transform: scale(0.9);
    cursor: pointer;
}
.img{
    height: 50px;
    width: 50px;
    margin: 0;
}



@media screen and (min-width: 900px) {
    .img-hack {
        height: 25rem;
        width: 20rem;
        margin-left: 18rem;
        filter: drop-shadow(0 0 0.7rem rgb(127, 230, 127));
        -webkit-filter: drop-shadow(0 0 0.7rem rgb(127, 230, 127));
    }

    .card {
        background-color: rgba(1, 1, 26, 0.781);
        box-shadow: 0 0 5px 3px rgb(111, 224, 111);
        margin-left: 0rem;
        margin-top: 0.5rem;
    }


}