*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body{
  background-color: rgba(6, 6, 22, 0.945);
  color: white;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  position: sticky;
  top: 1px;
  background-color: #1d1d28;
}
nav ul{
  display: flex;
  justify-content: center;
}
nav ul li{
  list-style: none;
  margin: 0 23px;
}
nav ul li a{
  text-decoration: none;
  color: white;
}
.left{
  font-size: 25px;
  margin-left: -476px;
}
.img-pro{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  left: -88px;
  top: 2px;
}
.main{
  display: flex;
}
.about{
  margin: 60px 80px;
  padding: 23px;
 
  width: 40%;
  text-align: justify;
}
#element{
  font-size: 30px;
  color: rgb(139, 112, 163);
}
.img-hack{
 margin-left: 800px;
 margin-top: -205px;
 height: 350px;
 filter: drop-shadow(0 0 7px rgb(125, 204, 125));
}
.bnt-resume{
  position:relative;
  top: -120px;
  left: 80px;
  margin: 10px;
  padding: 8px 25px;
  font-size: 15px;
  border: 1px solid lightblue;
  background-color: lightseagreen;
  color: white;
  box-shadow: 5px 2px 5px 3px  rgb(125, 204, 125);
}
.bnt-resume:hover{
  background-color: rgb(98, 165, 165);
  color: black;
  cursor: pointer;
  transition: 1s;
  transform: scale(0.9)
}
hr{
  height: 1px;
  width: 1100px;
  color: rgb(130, 231, 231);
  margin-left: 30px;
}
.aboutme{
  display: flex;
  position: relative;
  margin: 23px 50px;
}
.am{
  position: absolute;
  font-size: 30px;
top: -80px;
left: 550px;
  border-bottom: 3px solid rgb(135, 135, 206);
}
.more{
   height: 80px;
   width: 400px;
   margin: 5px 450px;
   text-align: center;
}
.contanier{
  display: flex;
  flex-wrap: wrap;
}
.card{
  height: 100vh;
  width: 40%;
  margin: 35px 60px;
  border-radius: 10px;
  box-shadow: 5px 3px 10px 5px rgb(44, 71, 44);
  background-color: rgb(2, 2, 22);
}
.gktm{
      margin-top: 20px;
      margin-left: 180px;
      margin-right: 200px;
      font-size: 20px;
      border-bottom: 3px solid rgb(135, 135, 206);
}
.ed{
  margin: 40px 210px;
  
}